
<div class="ui container">
  <div class="ui socondary pointing menu">
    <!--As the following linkage leads to a full refreshing of the page the version below is choosen-->
    <!--<a href="/elements">Elements</a>
    <a href="/collections">Collections</a>-->
    <!--routerLinkActive -> doesnt need to have classname active, just semanticUI uses that name -->
    <a routerLink="/elements" routerLinkActive="active" class="item">Elements</a>
    <a routerLink="/collections" routerLinkActive="active" class="item">Collections</a>
    <a routerLink="/mods" routerLinkActive="active" class="item">Mods</a>
  </div>
  <div class="ui segment">
    <router-outlet></router-outlet>
  </div>
</div>







